Tools for data science lab graded assignment

INTRODUCTION: In this lab exercise we will get to learn about the basic operations which can be done in a jupyter notebook.

data science languages are python,R,SQL,Scala,Julia,Java

data science libraries are scikit learn, tensorflow, pytorch, numpy, pandas ,

The tools for data science are Apache Spark,IBM SPSS,Julia,Jupyter notebook,Keras,Matlab.

the introduction to arithmetic expression is 3*4+5

In [1]:
2+3 # to add numbers

5

In [2]:
2*3 # to multiply numbers

6

In [3]:
# to convert minutes to hours
minutes= 180
hours= minutes/60
hours

3.0

the objective of this exercise is to know about basic operations of jupyter notebook, basic arithmetic commands and to know about the tools , languages , libraries used for data science.

the author's name is Annugraha.